@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orb {
    0%, 100% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.1);
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .course-item {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .course-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .course-title {
    text-align: center;
    font-size: 1.25rem;
    padding: 10px;
    background-color: #f97316;
    color: white;
  }
  
  /* Responsive styling: */
  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }